// ■■■■■ CORE ■■■■■■■■■■■■■■■■■■■■■■■■
@import "./core/all";
// ■■■■■ ABSTRACTS ■■■■■■■■■■■■■■■■■■■
@import "./abstracts/all";
// ■■■■■ LAYOUT ■■■■■■■■■■■■■■■■■■■■■■
@import "./layout/all";
// ■■■■■ BLOCKS ■■■■■■■■■■■■■■■■■■■■■■
@import "./blocks/all";
// ■■■■■ PAGES ■■■■■■■■■■■■■■■■■■■■■■■
@import "./pages/all";

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */
// sass --watch scss/index.scss css/index.css

:root {
    color-scheme: light dark;
    --color: light-dark(lightgreen, darkblue);
}

.page-wrapper {
    padding: 1em;

    @at-root {
        .browser-name {
            font-size: var(--fs-800);
             
            > span {
                font-weight: 700;
            }
        }
    }
}